{% extends "navigation.html" %}
{% block content %}
<ol>
    {% for book in books %}
        <li> {{ book['title'] }} by {{ dict(book['author'])['name'] }} </li>
        <a href="{{ url_for('edit_book', book_id = book.id ) }}">
            Edit
        </a>
        <a href="{{ url_for('delete_book', book_id = book.id ) }}" style="margin-left: 10px;">
            Delete
        </a>
        <br> <br>
    {% endfor %}
</ol>
<a href="{{ url_for('add_book') }}">
    <button class="btn btn-outline-primary">Add book</button>
</a>
{% endblock %}