{% extends "navigation.html" %}
{% block content %}
<h3>Are you sure to delete {{ instance }}?</h3>
<form action="" method="post">
    <button type="submit" class="btn btn-outline-primary"> Delete</button>
    <input type="button" onclick="history.back()" value="Cancel">
</form>
{% endblock %}